:root {
    --lightblue: #a8dadc;
    --darkerblue: #041b2d;
    --darkblue: #1d3557;
    --medblue: #457b9d;
    --magenta: #B80E65;
    --semi-white: #F8F9FA;
    --dark-blurple: #1c1b4d;
    --red: #e63946;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.animate__animated.animate__slideInRight, .animate__animated.animate__slideInLeft, .animate__animated.animate__slideOutLeft, .animate__animated.animate__slideOutRight {
   --animate-duration: .65s;
 }

body {
   font-family: 'Lato', sans-serif;
   margin: 0;
}

h1 {
   font-family: Lato;
   font-style: normal;
   font-weight: 300;
   font-size: 32px;
   line-height: 150%;
   color: var(--semi-white);
}

/* Splits page into top half */

.topHalfCont {
   width: 100vw;
   height: 50vh;
   display: flex;
   flex: 1 1;
}

/* Isolates left top half section */

.topLeftCont {
   width: 50%;
   height: 100%;
   margin: 0;
   /* Don't know why I use grid, but keeps it inside box */
   display: grid;
}

/* Styles for gradient box, which acts as overall parent for all children inside */

.tlcBkg {
   margin-top: 0px;
   width: 100%;
   height: 100%;
   position: relative;
}

/* Sets gradient background */

.gradBkg {
   background: linear-gradient(0deg, rgba(57, 80, 96, 0.4) 0%, rgba(217, 87, 119, 0.4) 100%), linear-gradient(105.9deg, #E63963 0.32%, #1D3557 90.61%);
}

/* Acts as parent for logo text and creates the box of the logo */

.logoCont {
   transform: translateX(16px);
   width: 144px;
   height: auto;
   background-color: var(--darkblue);
   box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(4px);
   border-radius: 2px;
   position: relative;
   cursor: pointer;
   user-select: none;
}

/* Sets the text of logo */

.logoText {
   height: 100%;
   width: 100%;
   text-align: center;
   padding: 10px 0px 10px 0px;
   font-weight: 300;
   font-size: 24px;
   color: var(--semi-white);
}

/* Container for description text */

.descCont {
   width: auto;
   height: auto;
   margin: 16px;
} 

/* Modify the h1 text so it's space apart a bit more (see about moving this) */

h1.descText {
   letter-spacing: 0.02em;
}

/* This is used as the parent for the moving text containers, which sets them at bottom of overall grad box */

.infoTextCont {
   position: absolute;
   width: 100%;
   height: 25%;
   bottom: 0px;
   overflow: none;
}

/* Act as containers for text, allowing for overlap with absolute */

.infoText1Cont, .infoText2Cont {
   position: absolute;
   width: 60%;
   height: auto;
   padding: 12px;
   right: 0;
}

/* Physical text we see in infoText */

.infoTextStyle {
   font-family: Lato;
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   line-height: 29px;
   text-align: right;
   letter-spacing: 0.02em;
   color: var(--semi-white)
}

.topRightCont {
   width: 50vw;
   height: 50vh;
   position: relative;
   z-index: 10;
   overflow: hidden;
}

.imgParCont {
   position: absolute;
   height: 100%;
   width: 100%;
}

.imgPar {
   position: absolute;
   width: 100%;
   height: 100%;
   right: 0;
   will-change: transform;
}

.imgCont1, .imgCont2 {
   height: 100%;
   width: 100%;
}

.fitImg {
   object-fit: cover;
   width: 50vw;
   height: 50vh;
}

.captBarCont {
   position: absolute;
   top: 0px;
   width: 50vw;
   height: 50px;
}

.captBar {
   position: absolute;
   width: 50vw;
   height: 100%;
   background: rgba(29, 53, 87, 0.3);
   box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
}

.captBarText {
   height: 100%;
   margin: 0px 10px 0px 10px;
   font-size: 20px;
   line-height: 250%;
   font-weight: 200;
   text-align: center;
}

.arrowCont {
   position: absolute;
   width: 80px;
   bottom: 10px;
   left: 50%;
   transform: translate(-50%);
   display: flex;
   justify-content: space-evenly;
}

.arrowBtn {
   border: none;
   background: transparent;
   cursor: pointer;
   transition-duration: .2s;
   transition-timing-function: cubic-bezier(.3, .7, .4, 1.5)
}

.arrowBtn:hover {
   transition-timing-function: cubic-bezier(.3, .7, .4, 1.5);
   transform: scale(1.2);
}

.arrLeft:hover {
   transform: translateX(-2px);
}
.arrRight:hover {
   transform: translateX(2px);
}

.faArr {
   transition-duration: .1s;
}

.faArr {
   color: var(--semi-white);
}

.imgNumCont {
   position: absolute;
   bottom: 10px;
   right: 10px;
   width: 40px;
   height: 20px;
}

.imgNum {
   /* Basic font styling */
   font-family: Lato;
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 29px;
   text-align: right;
   letter-spacing: 0.02em;
   color: var(--semi-white);

   /* Positioning */
   height: 20px;
   margin: 0;
}

.btmHalfCont {
   width: 100vw;
   height: 50vh;
   display: flex;
   flex: 1 1;
   position: relative;
}

.startCont {
   position: absolute;
   width: 100vw;
   height: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   align-content: flex-end;
}

.startBtnCont {
   height: auto;
   width: auto;
}

.startBtn {
   width: 200px;
   height: 60px;
   border-radius: 20px 20px 18px 18px;
   border: none;
   background: transparent;
   padding: 0;
   text-decoration: none;

}

.startBtnBkg {
   display: inline-flex;
   align-items: center;
   justify-content: center;

   width: 200px;
   height: 60px;
   border-radius: 20px 20px 18px 18px;
   border: 5px;
   border-color: black;
   background: linear-gradient(27deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 60%, rgba(252,176,69,1) 100%);

   transition: box-shadow .15s, transform .15s, font-size .10s, width .10s, height .10s, border-radius .10s;
   will-change: box-shadow, transform, font-size, border-radius;

   color: var(--semi-white);
   font-size: 18px;
   letter-spacing: 0.05em;
   font-weight: 600;
}

.startBtn:hover .startBtnBkg {
   cursor: pointer;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
   transform: translateY(-10px);
}

.startBtn:active .startBtnBkg {
   font-size: 24px;
   transform: translateY(-10px);
   box-shadow: rgba(0, 0, 0, 0.54) 0px 5px 20px;
   border-radius: 24px 24px 24px 24px;
}


.btmBarCont {
   width: 100vw;
   height: 40px;
   position: absolute;
   bottom: 0;
   background-color: var(--darkblue);
   box-shadow: rgba(0, 0, 0, 0.25) 0px -6px 5px 1px;
}

.btmBarElementCont {
   width: 100%;
   height: 100%;
   margin: 0;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: center;
}

.barTextEle {
   font-weight: lighter;
   font-size: 12px;
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: auto;
   order: 0;
   margin-left: 8px;
   margin-right: 8px;
   line-height: 0px;
   will-change: font-weight, margin-left, margin-right;
   transition: font-weight .15s, margin-left .15s, margin-right .15s;
}

.barTextEle:hover {
   font-weight: bolder;
   margin-left: 12px;
   margin-right: 12px;
}

.barTextEleLink {
   text-decoration: none;
}

@media (max-width: 768px) {
   .fitImg {
      height: 50vh;
   }
   .logoCont {
      width: 50%;
   }
   .infoTextCont {
      display: none;
      text-overflow: none;
   }
}