:root {
    --lightblue: #a8dadc;
    --darkerblue: #041b2d;
    --darkblue: #1d3557;
    --medblue: #457b9d;
    --magenta: #B80E65;
    --semi-white: #F8F9FA;
    --dark-blurple: #1c1b4d;
    --red: #e63946;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.animate__animated.animate__slideInRight, .animate__animated.animate__slideInLeft, .animate__animated.animate__slideOutLeft, .animate__animated.animate__slideOutRight {
   --animate-duration: .65s;
 }

body {
   font-family: 'Lato', sans-serif;
   margin: 0;
}

h1 {
   font-family: Lato;
   font-style: normal;
   font-weight: 300;
   font-size: 32px;
   line-height: 150%;
   color: var(--semi-white);
}

/* Splits page into top half */

.topHalfCont {
   width: 100vw;
   height: 50vh;
   display: flex;
   flex: 1 1;
}

/* Isolates left top half section */

.topLeftCont {
   width: 50%;
   height: 100%;
   margin: 0;
   /* Don't know why I use grid, but keeps it inside box */
   display: grid;
}

/* Styles for gradient box, which acts as overall parent for all children inside */

.tlcBkg {
   margin-top: 0px;
   width: 100%;
   height: 100%;
   position: relative;
}

/* Sets gradient background */

.gradBkg {
   background: linear-gradient(0deg, rgba(57, 80, 96, 0.4) 0%, rgba(217, 87, 119, 0.4) 100%), linear-gradient(105.9deg, #E63963 0.32%, #1D3557 90.61%);
}

/* Acts as parent for logo text and creates the box of the logo */

.logoCont {
   transform: translateX(16px);
   width: 144px;
   height: auto;
   background-color: var(--darkblue);
   box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(4px);
   border-radius: 2px;
   position: relative;
   cursor: pointer;
   user-select: none;
}

/* Sets the text of logo */

.logoText {
   height: 100%;
   width: 100%;
   text-align: center;
   padding: 10px 0px 10px 0px;
   font-weight: 300;
   font-size: 24px;
   color: var(--semi-white);
}

/* Container for description text */

.descCont {
   width: auto;
   height: auto;
   margin: 16px;
} 

/* Modify the h1 text so it's space apart a bit more (see about moving this) */

h1.descText {
   letter-spacing: 0.02em;
}

/* This is used as the parent for the moving text containers, which sets them at bottom of overall grad box */

.infoTextCont {
   position: absolute;
   width: 100%;
   height: 25%;
   bottom: 0px;
   overflow: none;
}

/* Act as containers for text, allowing for overlap with absolute */

.infoText1Cont, .infoText2Cont {
   position: absolute;
   width: 60%;
   height: auto;
   padding: 12px;
   right: 0;
}

/* Physical text we see in infoText */

.infoTextStyle {
   font-family: Lato;
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   line-height: 29px;
   text-align: right;
   letter-spacing: 0.02em;
   color: var(--semi-white)
}

.topRightCont {
   width: 50vw;
   height: 50vh;
   position: relative;
   z-index: 10;
   overflow: hidden;
}

.imgParCont {
   position: absolute;
   height: 100%;
   width: 100%;
}

.imgPar {
   position: absolute;
   width: 100%;
   height: 100%;
   right: 0;
}

.imgCont1, .imgCont2 {
   height: 100%;
   width: 100%;
}

.fitImg {
   object-fit: cover;
   width: 50vw;
   height: 50vh;
}

.captBarCont {
   position: absolute;
   top: 0px;
   width: 50vw;
   height: 50px;
}

.captBar {
   position: absolute;
   width: 50vw;
   height: 100%;
   background: rgba(29, 53, 87, 0.3);
   box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
}

.captBarText {
   height: 100%;
   margin: 0px 10px 0px 10px;
   font-size: 20px;
   line-height: 250%;
   font-weight: 200;
   text-align: center;
}

.arrowCont {
   position: absolute;
   width: 80px;
   bottom: 10px;
   left: 50%;
   transform: translate(-50%);
   display: flex;
   justify-content: space-evenly;
}

.arrowBtn {
   border: none;
   background: transparent;
   cursor: pointer;
   transition-duration: .2s;
   transition-timing-function: cubic-bezier(.3, .7, .4, 1.5)
}

.arrowBtn:hover {
   transition-timing-function: cubic-bezier(.3, .7, .4, 1.5);
   transform: scale(1.2);
}

.arrLeft:hover {
   transform: translateX(-2px);
}
.arrRight:hover {
   transform: translateX(2px);
}

.faArr {
   transition-duration: .1s;
}

.faArr {
   color: var(--semi-white);
}

.imgNumCont {
   position: absolute;
   bottom: 10px;
   right: 10px;
   width: 40px;
   height: 20px;
}

.imgNum {
   /* Basic font styling */
   font-family: Lato;
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 29px;
   text-align: right;
   letter-spacing: 0.02em;
   color: var(--semi-white);

   /* Positioning */
   height: 20px;
   margin: 0;
}

@media (max-width: 768px) {
   .fitImg {
      height: 50vh;
   }
   .logoCont {
      width: 50%;
   }
   .infoTextCont {
      display: none;
      text-overflow: none;
   }
}


/* 
const colors = require('tailwindcss/colors')

module.exports = {
purge: [],
darkMode: false, // or 'media' or 'class'
theme: {
   extend: {
      colors: {
         blue: {
            'light': '#a8dadc',
            'darker': '#041b2d',
            'dark': '#1d3557',
            'med': '#457b9d',
            
         },
         'magenta': '#B80E65',
         'semi-white': '#F8F9FA',
         'dark-blurple': '#1c1b4d',
         'red': '#e63946',

      },
      height: {
         '1/2': '50vh',
         '3/4': '75vh',
         '1/4': '25vh'
      },
      screens: {
         
      },
      backgroundColor: {
         captBar: 'rgba(29, 53, 87, 0.2)',
         arrowBox: 'rgba(196, 196, 196, 0.00001)',
      },
      boxShadow: {
         logo: '4px 4px 4px 1px rgba(0, 0, 0, 0.25)',
         captBar: '0px 5px 4px rgba(0, 0, 0, 0.25)',
         arrowBox: '0px 0px 4px rgba(0, 0, 0, 0.5)'
      },
      fontFamily: {
         //  "lato": ['Lato']
      }
   },
},
variants: {
   extend: {},
},
plugins: [],
} */