:root {
    --lightblue: #a8dadc;
    --darkerblue: #041b2d;
    --darkblue: #1d3557;
    --medblue: #457b9d;
    --magenta: #B80E65;
    --semi-white: #F8F9FA;
    --dark-blurple: #1c1b4d;
    --red: #e63946;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
   font-family: 'Lato', sans-serif;
   margin: 0;
}

.topHalfCont {
   width: 100vw;
   height: 50vh;
   display: flex;
   flex: 1 1;
}

.topLeftCont {
   width: 100%;
   height: 100%;
}

.tlcBkg {
   margin-top: 0px;
   width: 100%;
   height: 100%;
}

.gradBkg {
   background: linear-gradient(0deg, rgba(57, 80, 96, 0.4) 0%, rgba(217, 87, 119, 0.4) 100%), linear-gradient(105.9deg, #E63963 0.32%, #1D3557 90.61%);
}

.arrow-cont {
   bottom: 10px;
   left: 50%;
   transform: translate(-50%);
   filter: invert(100%);
}

.fit-img {
   object-fit: cover;
   width: 50vw;
   height: 50vh;
}

@media (min-width: 768px) {
   .fit-img {
      height: 50vh;
   }
}


/* 
const colors = require('tailwindcss/colors')

module.exports = {
purge: [],
darkMode: false, // or 'media' or 'class'
theme: {
   extend: {
      colors: {
         blue: {
            'light': '#a8dadc',
            'darker': '#041b2d',
            'dark': '#1d3557',
            'med': '#457b9d',
            
         },
         'magenta': '#B80E65',
         'semi-white': '#F8F9FA',
         'dark-blurple': '#1c1b4d',
         'red': '#e63946',

      },
      height: {
         '1/2': '50vh',
         '3/4': '75vh',
         '1/4': '25vh'
      },
      screens: {
         
      },
      backgroundColor: {
         captBar: 'rgba(29, 53, 87, 0.2)',
         arrowBox: 'rgba(196, 196, 196, 0.00001)',
      },
      boxShadow: {
         logo: '4px 4px 4px 1px rgba(0, 0, 0, 0.25)',
         captBar: '0px 5px 4px rgba(0, 0, 0, 0.25)',
         arrowBox: '0px 0px 4px rgba(0, 0, 0, 0.5)'
      },
      fontFamily: {
         //  "lato": ['Lato']
      }
   },
},
variants: {
   extend: {},
},
plugins: [],
} */